# Application Configuration
PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/booking_db"
frontend_URL="http://localhost:5173"
admin_URL="http://localhost:5174"

# Authentication Secrets
JWT_SECRET="your-secret-key-here"

# External API Keys (if any)
STRIPE_SECRET_KEY=""
RESEND_API_KEY=""
